## Supervised Composite Score

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
decision_tree_score = pd.read_csv('decision_tree_scores.csv')

In [4]:
decision_tree_score.rename(columns={'G_score_tree': 'decision_tree_score'}, inplace=True)
decision_tree_score

           State  decision_tree_score
0     california         2.123659e+06
1          texas         1.228226e+06
2        florida         9.052952e+05
3       illinois         7.581227e+05
4   pennsylvania         6.389591e+05
5           ohio         5.851163e+05
6        georgia         4.868441e+05
7       michigan         4.837826e+05
8       virginia         4.519987e+05
9     washington         3.787272e+05
10      maryland         3.305506e+05
11       indiana         3.159207e+05
12     tennessee         2.942886e+05
13      missouri         2.883493e+05
14     wisconsin         2.867557e+05
15      colorado         2.714886e+05
16   connecticut         2.714425e+05
17     louisiana         2.423437e+05
18       alabama         2.002053e+05
19      kentucky         1.853444e+05
20        oregon         1.770691e+05
21          iowa         1.582519e+05
22      oklahoma         1.488025e+05
23        kansas         1.381743e+05
24          utah         1.276867e+05
25      nebraska         9.779901e+04
26         idaho         6.108857e+04
27         maine         5.994883e+04
28        alaska         4.745336e+04
29       montana         4.061258e+04

In [5]:
rf_score = pd.read_csv('rf_proximity_scores.csv')
rf_score.rename(columns={'G_score': 'rf_score'}, inplace=True)
rf_score

           State  rf_score
0     washington  0.007271
1       maryland  0.007230
2       colorado  0.007171
3     california  0.007160
4        georgia  0.006963
5       virginia  0.006758
6        montana  0.006704
7        florida  0.006567
8          idaho  0.006534
9           utah  0.006458
10        oregon  0.006408
11      oklahoma  0.006322
12          ohio  0.006258
13      michigan  0.005694
14   connecticut  0.005690
15      illinois  0.005577
16         texas  0.005546
17         maine  0.005537
18      missouri  0.005505
19      nebraska  0.005500
20     wisconsin  0.005188
21          iowa  0.005181
22       indiana  0.005101
23  pennsylvania  0.004986
24       alabama  0.004660
25     tennessee  0.004597
26      kentucky  0.004549
27     louisiana  0.004512
28        kansas  0.004210
29        alaska  0.004153

In [6]:
xgb_score = pd.read_csv('xgboost_scores.csv')
xgb_score.rename(columns={'G_score': 'xgb_score'}, inplace=True)

In [7]:
xgb_score

           State    xgb_score
0     california  2119755.500
1          texas  1225263.100
2        florida   905113.900
3       illinois   755692.800
4   pennsylvania   638508.200
5           ohio   584851.440
6        georgia   486924.440
7       michigan   483887.220
8       virginia   452137.220
9     washington   378039.530
10      maryland   329260.400
11       indiana   313466.030
12     tennessee   295041.660
13      missouri   287066.250
14     wisconsin   285798.900
15   connecticut   273038.940
16      colorado   271514.160
17     louisiana   241224.730
18       alabama   201118.550
19      kentucky   187785.580
20        oregon   175728.640
21          iowa   160487.720
22      oklahoma   150035.700
23        kansas   138376.840
24          utah   127956.664
25      nebraska   100251.600
26         idaho    63462.800
27         maine    62306.190
28        alaska    47882.793
29       montana    42884.105

In [8]:
gpr_score = pd.read_csv('gpr_state_scores.csv')
gpr_score.rename(columns={'G_score': 'gpr_score'}, inplace=True)
gpr_score

           State     gpr_score
0     california  2.123596e+06
1          texas  1.228187e+06
2        florida  9.052748e+05
3       illinois  7.580981e+05
4   pennsylvania  6.389404e+05
5           ohio  5.851015e+05
6        georgia  4.868295e+05
7       michigan  4.837685e+05
8       virginia  4.519880e+05
9     washington  3.787206e+05
10      maryland  3.305441e+05
11       indiana  3.159112e+05
12     tennessee  2.942826e+05
13      missouri  2.883456e+05
14     wisconsin  2.867449e+05
15      colorado  2.714842e+05
16   connecticut  2.714437e+05
17     louisiana  2.423359e+05
18       alabama  2.002075e+05
19      kentucky  1.853525e+05
20        oregon  1.770685e+05
21          iowa  1.582541e+05
22      oklahoma  1.487989e+05
23        kansas  1.381776e+05
24          utah  1.276828e+05
25      nebraska  9.780250e+04
26         idaho  6.109836e+04
27         maine  5.995281e+04
28        alaska  4.745577e+04
29       montana  4.061490e+04

In [9]:
merged_df = decision_tree_score.merge(gpr_score, on='State') \
                               .merge(rf_score, on='State') \
                               .merge(xgb_score, on='State')
merged_df

           State  decision_tree_score     gpr_score  rf_score    xgb_score
0     california         2.123659e+06  2.123596e+06  0.007160  2119755.500
1          texas         1.228226e+06  1.228187e+06  0.005546  1225263.100
2        florida         9.052952e+05  9.052748e+05  0.006567   905113.900
3       illinois         7.581227e+05  7.580981e+05  0.005577   755692.800
4   pennsylvania         6.389591e+05  6.389404e+05  0.004986   638508.200
5           ohio         5.851163e+05  5.851015e+05  0.006258   584851.440
6        georgia         4.868441e+05  4.868295e+05  0.006963   486924.440
7       michigan         4.837826e+05  4.837685e+05  0.005694   483887.220
8       virginia         4.519987e+05  4.519880e+05  0.006758   452137.220
9     washington         3.787272e+05  3.787206e+05  0.007271   378039.530
10      maryland         3.305506e+05  3.305441e+05  0.007230   329260.400
11       indiana         3.159207e+05  3.159112e+05  0.005101   313466.030
12     tennessee         2.942886e+05  2.942826e+05  0.004597   295041.660
13      missouri         2.883493e+05  2.883456e+05  0.005505   287066.250
14     wisconsin         2.867557e+05  2.867449e+05  0.005188   285798.900
15      colorado         2.714886e+05  2.714842e+05  0.007171   271514.160
16   connecticut         2.714425e+05  2.714437e+05  0.005690   273038.940
17     louisiana         2.423437e+05  2.423359e+05  0.004512   241224.730
18       alabama         2.002053e+05  2.002075e+05  0.004660   201118.550
19      kentucky         1.853444e+05  1.853525e+05  0.004549   187785.580
20        oregon         1.770691e+05  1.770685e+05  0.006408   175728.640
21          iowa         1.582519e+05  1.582541e+05  0.005181   160487.720
22      oklahoma         1.488025e+05  1.487989e+05  0.006322   150035.700
23        kansas         1.381743e+05  1.381776e+05  0.004210   138376.840
24          utah         1.276867e+05  1.276828e+05  0.006458   127956.664
25      nebraska         9.779901e+04  9.780250e+04  0.005500   100251.600
26         idaho         6.108857e+04  6.109836e+04  0.006534    63462.800
27         maine         5.994883e+04  5.995281e+04  0.005537    62306.190
28        alaska         4.745336e+04  4.745577e+04  0.004153    47882.793
29       montana         4.061258e+04  4.061490e+04  0.006704    42884.105

In [11]:
#merged_df.to_csv('merged_scores.csv', index=False)

In [12]:
# 2) Define the four model columns and equal initial weights
model_cols = ["decision_tree_score", "gpr_score", "rf_score", "xgb_score"]
weights    = np.array([0.25, 0.25, 0.25, 0.25])

# 3) Compute composite score
merged_df["composite_score"] = merged_df[model_cols].values.dot(weights)
merged_df

,State,decision_tree_score,gpr_score,rf_score,xgb_score,composite_score
0,california,2.123659e+06,2.123596e+06,0.007160,2119755.500,1.591753e+06
1,texas,1.228226e+06,1.228187e+06,0.005546,1225263.100,9.204189e+05
2,florida,9.052952e+05,9.052748e+05,0.006567,905113.900,6.789210e+05
3,illinois,7.581227e+05,7.580981e+05,0.005577,755692.800,5.679784e+05
4,pennsylvania,6.389591e+05,6.389404e+05,0.004986,638508.200,4.791019e+05
5,ohio,5.851163e+05,5.851015e+05,0.006258,584851.440,4.387673e+05
6,georgia,4.868441e+05,4.868295e+05,0.006963,486924.440,3.651495e+05
7,michigan,4.837826e+05,4.837685e+05,0.005694,483887.220,3.628596e+05
8,virginia,4.519987e+05,4.519880e+05,0.006758,452137.220,3.390310e+05
9,washington,3.787272e+05,3.787206e+05,0.007271,378039.530,2.838718e+05
10,maryland,3.305506e+05,3.305441e+05,0.007230,329260.400,2.475888e+05
11,indiana,3.159207e+05,3.159112e+05,0.005101,313466.030,2.363245e+05
12,tennessee,2.942886e+05,2.942826e+05,0.004597,295041.660,2.209032e+05
13,missouri,2.883493e+05,2.883456e+05,0.005505,287066.250,2.159403e+05
14,wisconsin,2.867557e+05,2.867449e+05,0.005188,285798.900,2.148249e+05
15,colorado,2.714886e+05,2.714842e+05,0.007171,271514.160,2.036217e+05
16,connecticut,2.714425e+05,2.714437e+05,0.005690,273038.940,2.039813e+05
17,louisiana,2.423437e+05,2.423359e+05,0.004512,241224.730,1.814761e+05
18,alabama,2.002053e+05,2.002075e+05,0.004660,201118.550,1.503828e+05
19,kentucky,1.853444e+05,1.853525e+05,0.004549,187785.580,1.396206e+05
20,oregon,1.770691e+05,1.770685e+05,0.006408,175728.640,1.324666e+05
21,iowa,1.582519e+05,1.582541e+05,0.005181,160487.720,1.192484e+05
22,oklahoma,1.488025e+05,1.487989e+05,0.006322,150035.700,1.119093e+05
23,kansas,1.381743e+05,1.381776e+05,0.004210,138376.840,1.036822e+05
24,utah,1.276867e+05,1.276828e+05,0.006458,127956.664,9.583155e+04
25,nebraska,9.779901e+04,9.780250e+04,0.005500,100251.600,7.396328e+04
26,idaho,6.108857e+04,6.109836e+04,0.006534,63462.800,4.641243e+04
27,maine,5.994883e+04,5.995281e+04,0.005537,62306.190,4.555196e+04
28,alaska,4.745336e+04,4.745577e+04,0.004153,47882.793,3.569798e+04
29,montana,4.061258e+04,4.061490e+04,0.006704,42884.105,3.102790e+04

In [13]:
median_composite_score = merged_df['composite_score'].median()
print("Median of composite_score:", median_composite_score)

Median of composite_score: 209403.08086026734

In [14]:
group_1_supervised = merged_df.loc[merged_df['composite_score'] > median_composite_score, 'State'].values
group_0_supervised = merged_df.loc[merged_df['composite_score'] <= median_composite_score, 'State'].values

print("Group 1:", group_1_supervised)
print("Group 0:", group_0_supervised)

Group 1: ['california' 'texas' 'florida' 'illinois' 'pennsylvania' 'ohio' 'georgia'
 'michigan' 'virginia' 'washington' 'maryland' 'indiana' 'tennessee'
 'missouri' 'wisconsin']
Group 0: ['colorado' 'connecticut' 'louisiana' 'alabama' 'kentucky' 'oregon' 'iowa'
 'oklahoma' 'kansas' 'utah' 'nebraska' 'idaho' 'maine' 'alaska' 'montana']

## Synthetic Control